.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  &:focus {
    outline: 0;
  }
}

.clash-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 14px + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  height: 425px;
  cursor: pointer;

  @media only screen and (max-width: 768px) {
    width: 269px;
  }
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  padding-top: 15px;
}

.clash-card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 14px + 5 14px + 5 0 0;
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--default {
  color: #ec9b3b;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.clash-card__unit-stats--default {
  background: #ec9b3b;

  .one-third {
    border-right: 1px solid #bd7c2f;
  }
}

.clash-card__unit-stats--archer {
  background: #ee5487;

  .one-third {
    border-right: 1px solid #d04976;
  }
}

.clash-card__unit-stats--giant {
  background: #f6901a;

  .one-third {
    border-right: 1px solid darken(#f6901a, 8%);
  }
}

.clash-card__unit-stats--goblin {
  background: #82bb30;

  .one-third {
    border-right: 1px solid darken(#82bb30, 6%);
  }
}

.clash-card__unit-stats--wizard {
  background: #4facff;

  .one-third {
    border-right: 1px solid darken(#4facff, 6%);
  }
}

.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;

  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }

  sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }

  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}

.slide-container {
  width: 75%;
}
