@import '../../shared/vars.scss';

.avatar {
  width: 100px;
}

.first-heading {
  margin-top: 180px;

  @media only screen and (max-width: 768px) {
    margin-top: 140px;
    font-size: 28px !important;
  }
}

.topic-heading {
  width: 100%;
  text-align: center;

  font-size: 40px;
  color: var(--main-color);

  @media only screen and (min-width: 768px) {
    line-height: 1.2;
  }
}

.site-description {
  padding: 55px 70px;
  color: #000;
  font-size: 20px;
  line-height: 1.3;
  background-color: #fff;
  width: 90%;
  margin: 60px auto;
  border-radius: 10px;

  @media only screen and (max-width: 768px) {
    width: 100%;
    border-radius: 0;
    padding: 10px 23px;
  }
}
