#history {
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      border: 1px solid #000;
      max-height: 160px;
    }
  }

  .rocket-launch {
    width: 100%;

    @media only screen and (max-width: 576px) {
      margin-top: 96px;
    }
  }
}
